body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1{
    font-size: 40px;
}

#card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    background-color: rgb(123, 255, 248);
    padding: 40px;

    margin-top: 70px;
}

.card {
    display: grid;
    margin: 1px solid black;

    border: 1px double black;
    border-radius: 9px;
    width: 320px;
    height: fit-content;
    margin: 0 15px 40px 15px;
    cursor: pointer;
}
.imgbox{
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.footerbox{
    border-top: 1px solid black;
    font-size: 15px;
}
.cardtitle{
    border-bottom: 1px solid black;
    position: relative;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px;
}
.cardoverview{
    padding-left: 10px;
    padding-right: 10px;
}
.cardavg{
    padding-left: 20px;
}
#search-form {
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#search-btn {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}

#reloadButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    
    position: absolute;
    top: 30px;
    left: 20px;

}