h1{
    border: 1px solid black;
    
    padding-left: 500px;
}
#movieImg{
    width: 350px;
    height: 400px;
    position: relative;
    left: 160px;
    top: 20px;
}

#movieDetails{
    display: grid;
    grid-template-columns: 700px 400px 100px;

    border-bottom: 1px solid black;

    height: 500px;
}
#detailCard{
    display: grid;
    grid-template-rows: 70px 70px 1fr;
    
}
.date-avg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.fontBox{
    
    
    word-wrap: break-word;
}
#review-box{
    margin: 30px 0 10px 300px;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    overflow: auto;

    font-size: larger;
}
#review-box::-webkit-scrollbar{
    width: 5px;
}
#review-box::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
#review-box::-webkit-scrollbar-track{
    background-color: grey;
    border-radius: 10px;
}
#write{
    display: flex;
    margin: 0 0 20px 450px;
    height: 30px;
}

#name-input,
#pw-input{
    width: 100px;
}